[workspace]
authors = ["benuski <ben@amongotheritems.org>"]
channels = ["conda-forge", "pytorch"]
name = "rm"
platforms = ["win-64"]
version = "0.1.0"

[dependencies]
python = "3.14.*"
pandas = ">=3.0.0,<4"
pip = ">=26.0.1,<27"

[pypi-dependencies]
pdfplumber = "*"