[workspace]
name = "marker-pdf"
channels = ["pytorch", "nvidia", "conda-forge"]
platforms = ["linux-64"]

[dependencies]
python = "*"
transformers = "4.48.*"
regex = ">=2024.4.28,<2025"
# Force GPU packages
pytorch = { version = "2.5.*", channel = "pytorch" }
pytorch-cuda = { version = "12.*", channel = "pytorch" }

[pypi-dependencies]
marker-pdf = "*"
